---
- name: "[INSTALLED TLS] - Define certificate path"
  ansible.builtin.set_fact:
    nextcloud_tls_cert_file: "{{ nextcloud_tls_cert }}"

- name: "[INSTALLED TLS] - Define key path"
  ansible.builtin.set_fact:
    nextcloud_tls_cert_key_file: "{{ nextcloud_tls_cert_key }}"

- name: "[INSTALLED TLS] - Define certificate chain path"
  ansible.builtin.set_fact:
    nextcloud_tls_chain_file: "{{ nextcloud_tls_cert_chain }}"
  when: nextcloud_tls_cert_chain is defined
