---
name: Release

"on":
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version

      - name: Check if there is a parent commit
        id: check-parent-commit
        run: |
          echo "::set-output name=sha::$(git rev-parse --verify --quiet HEAD^)"

      - name: Detect and tag new version
        id: check-version
        if: steps.check-parent-commit.outputs.sha
        uses: salsify/action-detect-and-tag-new-version@v2
        with:
          tag-template: "{VERSION}"
          version-command: |
            cat galaxy.yml|grep version:|cut -d' ' -f2

      - name: Install Ansible
        run: |
          pip install --constraint=.github/workflows/constraints.txt ansible

      - name: Release to Ansible Galaxy.
        if: "steps.check-version.outputs.tag"
        env:
          ANSIBLE_GALAXY_TOKEN: ${{ secrets.GALAXY_TOKEN }}
        run: >-
          ansible-playbook -i 'localhost,' galaxy-deploy.yml
          -e "github_tag=$(cat galaxy.yml|grep version:|cut -d' ' -f2)"
          -e "ansible_namespace=$(echo ${{ github.repository }}
          | cut -d/ -f1)"
          -e "collection=admin"

      - name: Publish the release notes
        uses: release-drafter/release-drafter@v5
        with:
          publish: ${{ steps.check-version.outputs.tag != '' }}
          tag: ${{ steps.check-version.outputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
