---
name: Tests

"on":
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "0 7 * * 0"

defaults:
  run:
    working-directory: "aalaesar.install_nextcloud"

jobs:
  molecule:
    name: Molecule
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - { distro: "debian11" }
          - { distro: "debian10", nc_version: "nc23" }
          - { distro: "ubuntu2204" }
          - { distro: "ubuntu2004" }

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3
        with:
          path: "aalaesar.install_nextcloud"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Upgrade pip
        run: |
          python3 -m pip install --constraint=.github/workflows/constraints.txt pip
          python3 -m pip --version

      - name: Install test dependencies
        run: |
          python3 -m pip install --constraint=.github/workflows/constraints.txt ansible molecule[docker] docker netaddr

      # See: https://github.com/geerlingguy/ansible-role-mysql/issues/422
      - name: Disable AppArmor (only Debian 10).
        run: |
            set -x
            sudo apt-get install apparmor-profiles
            sudo ln -s /etc/apparmor.d/usr.sbin.mysqld /etc/apparmor.d/disable/
            sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
        if: matrix.distro == 'debian10'

      - name: Run Molecule tests
        run: molecule test
        env:
          PY_COLORS: "1"
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_NC: ${{ matrix.nc_version }}
