---
name: Run Unit Tests

"on":
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: ./code/ansible_collections/nextcloud/admin/

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ansible pytest

      - name: Run tests
        run: |
          ansible-test units -v --requirements
        working-directory: ./code/ansible_collections/nextcloud/admin/
